.wrapper {
  text-align: center;
  grid-column-start: 3;
}

input {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 7px;
  border-radius: 20px;
  width: 300px;
  background: #ebebeb;
  border: 1px solid black;
}

p {
  font-size: smaller;
}

.button {
  background: rgb(28, 184, 65);
  color: white;
  font-size: large;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  padding: 5px 15px 5px 15px;
  border: 1px solid black;
}

.header {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-right: 270px;
}
