ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

li {
  margin: 10px;
  padding: 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  background: #ebebeb;
}

p {
  margin: 5px;
}

.deleteBtn {
  position: absolute;
  border-style: none;
  background: none;
  right: 0px;
  top: 4px;
}

.button {
  background: rgb(28, 184, 65);
  color: white;
  font-size: small;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  padding: 5px 15px 5px 15px;
}

.list {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 5;
}

img {
  object-fit: cover;
}
